@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/roboto.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    height: 100vh;
    --admin-base-color: #b91c1c;
    --admin-alt-color: #d1d5db;
}

p {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template: "sidebar header" 1fr "sidebar main" 2fr / 1fr 4fr;
}

.small-icon {
    height: 2.5rem;
    border-radius: 50%;
}

.large-icon {
    height: 3.5rem;
    border-radius: 50%;
}

.header {
    padding: 2vh 4vw;
    box-shadow: 0 0.5vh 0.5vh gray;
    grid-area: header;
    display: grid;
    grid-template: "top top top" 1fr "user options options" 1fr / 4fr 2fr 1fr;
    z-index: 2;
}

.top-header {
    grid-area: top;
    display: grid;
    grid-template-columns: 5fr 1fr 2fr;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    background-color: lightgray;
    border-radius: 25px;
    border: none;
    height: 1.5rem;
    width: auto;
    margin-left: 1vw;
    margin-right: 3vw;
    flex: 1;
}

.search-bar img {
    height: 1.5rem;
}

.header-profile {
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-items: center;
}

.header-profile p {
    margin-left: 2vw;
}

.user-info {
    grid-area: user;
    display: grid;
    grid-template: "icon greet" 1fr "icon name" 1fr / 3.5rem auto;
    align-items: center;
}

.user-info img {
    grid-area: icon;
}

.user-info .info-greet {
    grid-area: greet;
    align-self: end;
    font-size: 0.75rem;
    margin-left: 1vw;
}

.user-info .info-name {
    grid-area: name;
    align-self: start;
    font-size: 1.15rem;
    margin-left: 1vw;
}

.common-options {
    grid-area: options;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.common-options li {
    display: inline;
}

.common-options button {
    height: 5vh;
    width: 6vw;
    border-radius: 25px;
    border: none;
    background-color: var(--admin-base-color);
    color: white;
}

.sidebar {
    padding: 2vh 1vw;
    background-color: var(--admin-base-color);
    color: white;
    grid-area: sidebar;
}

.sidebar img {
    filter: invert(99%) sepia(73%) saturate(2%) hue-rotate(272deg) brightness(118%) contrast(100%);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 8vh;
}

.sidebar li {
    display: grid;
    grid-template-columns: 2.5rem auto;
    align-items: center;
}

.sidebar li:not(:last-child) {
    margin-bottom: 3vh;
}

.sidebar li img {
    height: 1.5rem;
    justify-self: center;
}

.sidebar li p {
    margin-left: 1vw;
}

.main-icon {
    display: grid;
    grid-template-columns: 2.5rem auto;
    align-items: center;
}

.main-icon img {
    height: 2.5rem;
}

.main-icon p {
    font-size: 1.25rem;
    margin-left: 1vw;
}

.main {
    padding: 2vh 1vw;
    background-color: var(--admin-alt-color);
    grid-area: main;
    display: grid;
    grid-template: "projects announcements" 1fr "projects trending" / 3fr 1fr;
    gap: 5vh 1vw;
}

.projects {
    grid-area: projects;
    font-size: 1.1rem;
}

.cards {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1vh 1vw;
}

.card {
    padding: 3vh 1vw;
    height: 20vh;
    background-color: white;
    border-radius: 4px;
    border-left: 0.5vw solid #ef4444;
    box-shadow: 2px 2px 1px gray;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.card .title {
    font-size: 1rem;
    font-weight: bold;
    align-self: end;
}

.card .description {
    font-size: 0.75rem;
    color: gray;
}

.card .options {
    grid-row: 4;
    justify-self: end;
}

.card .options button {
    padding: 0 1vw;
    background: none;
    border: none;
}

.announcements {
    grid-area: announcements;
    font-size: 1.1rem;
}

.announcements .board {
    padding: 2vh;
    margin-top: 2vh;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 1px gray;
}

.announcements .announce {
    padding: 2vh 0.5vw;
}

.announcements .announce:not(:last-child) {
    border-bottom: 1px solid gray;
}

.announcements .announce .title {
    font-size: 0.75rem;
    font-weight: bold;
}

.announcements .announce .description {
    font-size: 0.7rem;
    color: gray;
}

.trending {
    grid-area: trending;
    font-size: 1.1rem;
}

.trends {
    padding: 1vh 2vh;
    margin-top: 2vh;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 1px gray;
}

.trends ul {
    list-style: none;
    padding: 0;
}

.trends li {
    display: grid;
    grid-template: "icon user" 1fr "icon project" 1fr / 2.5rem auto;
    align-items: center;
    gap: 0 1vw;
    font-size: 0.75rem;
}

.trends li:not(:last-child) {
    margin-bottom: 1vh;
}

.trends .small-icon {
    grid-area: icon;
}

.trends .user {
    grid-area: user;
    align-self: end;
    font-weight: bold;
}

.trends .project {
    grid-area: project;
    align-self: start;
    color: grey;
}